:root {
  --primary-color: #1D5D21;  /* กำหนดตัวแปร CSS */
  --secondary-color: #EAE4D2; 
  --third-color:#333333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth; /* ทำให้การเลื่อนหน้าลื่นขึ้น */
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #E9E9E9;
    font-size: .825rem;
  }
  
  /* กำหนดขนาดฟอนต์ให้ปรับตามหน้าจอ */
  /* html {
    font-size: 62.5%; 1rem = 10px 
  }
   */
 
  
  /* ลบสไตล์เริ่มต้นของลิงก์และลิสต์ */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }

/* ------------------------navbar-------------------------------------- */
.nav_bar_status p{
  margin-bottom: 0;
}
.nav_bar_status_wrap{
  padding: 6px 12px 6px 12px;
  font-weight: bold;
  color:var(--primary-color);
}

.nav_bar_bg{
  background:var(--primary-color);
}
.nav_bar_bg a{
  color: #fff;
}
.nav_bar_bg a:hover{
 text-decoration: underline;
 text-underline-offset: 5px;
 color: #fff;
}
.navbar-brand {
  font-size: .825rem;
}
/* ------------------------navbar-------------------------------------- */
/* --------------------------jumbotronnindex -----------------------------*/
.bg_img{
  background: var(--primary-color);
}
/* --------------------------jumbotronnindex -----------------------------*/







/* ------------------------width element-------------------------------------- */
.w-40{width: 40%;}
/* ------------------------width element-------------------------------------- */

/* ------------------------margin element-------------------------------------- */
.m-l-5 { margin-left: 5px; }
.m-l-10 { margin-left: 10px; }
.m-l-15 { margin-left: 15px; }
.m-l-20 { margin-left: 20px; }
.m-l-25 { margin-left: 25px; }
.m-l-30 { margin-left: 30px; }
.m-l-35 { margin-left: 35px; }
.m-l-40 { margin-left: 40px; }
.m-l-45 { margin-left: 45px; }
.m-l-50 { margin-left: 50px; }
.m-l-55 { margin-left: 55px; }
.m-l-60 { margin-left: 60px; }
.m-l-65 { margin-left: 65px; }
.m-l-70 { margin-left: 70px; }
.m-l-75 { margin-left: 75px; }
.m-l-80 { margin-left: 80px; }
.m-l-85 { margin-left: 85px; }
.m-l-90 { margin-left: 90px; }
.m-l-95 { margin-left: 95px; }
.m-l-100 { margin-left: 100px; }


.m-r-5 { margin-right: 5px; }
.m-r-10 { margin-right: 10px; }
.m-r-15 { margin-right: 15px; }
.m-r-20 { margin-right: 20px; }
.m-r-25 { margin-right: 25px; }
.m-r-30 { margin-right: 30px; }
.m-r-35 { margin-right: 35px; }
.m-r-40 { margin-right: 40px; }
.m-r-45 { margin-right: 45px; }
.m-r-50 { margin-right: 50px; }
.m-r-55 { margin-right: 55px; }
.m-r-60 { margin-right: 60px; }
.m-r-65 { margin-right: 65px; }
.m-r-70 { margin-right: 70px; }
.m-r-75 { margin-right: 75px; }
.m-r-80 { margin-right: 80px; }
.m-r-85 { margin-right: 85px; }
.m-r-90 { margin-right: 90px; }
.m-r-95 { margin-right: 95px; }
.m-r-100 { margin-right: 100px; }
/* ------------------------margin element-------------------------------------- */
.card .row{
  margin-left: 0;
  margin-right: 0;
}
.card{margin-bottom: 10px;}
.content-body{padding: 10px;}
.header_menu{padding: 10px;}


.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background:  var(--primary-color);
}
.footer a{ color: #fff;}
.footer ul{margin: 0;}




/* ------------------------page clubs-------------------------------------- */
.club-content{
  padding-top: 3rem;
}
.card-img{
  background: url(../img/view-empty-football-stadium.jpg); 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh; 
}
.img-team img{
  width: 150px;
  height: fit-content;
}
.img-team {
  display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
 }
#hover-content {
  visibility: hidden;
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;
    position: absolute;
    z-index: 2;
    width: 100%;
    border-radius: 5px;
    height: inherit;
}

#parent:hover #hover-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: 
      opacity 0.5s ease, 
      transform 0.5s ease;
  background: red;
}
.team-name{
  width: 100%;
  background-color: #1D5D21;
}

/* ------------------------page clubs-------------------------------------- */